In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
card_df = pd.read_csv('/Users/ingeonhwang/Desktop/1.Yonsei_bigdata_analysis/1.Class_material/5.머신러닝_박홍규/creditcard.csv')

In [6]:
card_df.head()
# class 가 0 이면 정상건, 1이면 비정상 건

   Time        V1        V2        V3  ...         V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...    0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ...   -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ...   -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...    0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...    0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
card_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
card_df.Class.value_counts()
# 0 : 일반카드 사용
# 1 : 비정상 카드 사용 (도용, 사기)

0    284315
1       492
Name: Class, dtype: int64

In [10]:
# 전처리 함수 #1
def get_preprocessed_df(df):
    df_copy = df.copy()
    # 1. 전처리 time 컬럼 삭제
    df_copy.drop('Time', axis = 1, inplace = True)
    return df_copy

In [11]:
from sklearn.model_selection import train_test_split

In [17]:
# 전처리 + test train 데이터 나누는 작업 하는 함수 만들기
def get_train_test_dataset(df): # 원본 데이터 프레임 받아서
    df_copy = get_preprocessed_df(df) # 걔를 전처리 하고
    X_features = df_copy.drop('Class', axis=1) # X_features 와 y_target 으로 나누고
    y_target = df_copy.Class
    X_train, X_test, y_train, y_test = train_test_split(X_features, y_target,
                                                        test_size=0.3,
                                                        random_state=100) # train, test 나눠서
    return X_train, X_test, y_train, y_test

## 전처리 함수만 계속 바꿔주면 나중에 'get_train_test_dataset' 함수만 시행하면 된다

In [18]:
X_train, X_test, y_train, y_test = get_train_test_dataset(card_df)

In [20]:
print('[card_df]\n', card_df.Class.value_counts()/len(card_df))
print('[train_df]\n', y_train.value_counts()/len(y_train))
print('[test_df]\n', y_test.value_counts()/len(y_test))

[card_df]
 0    0.998273
1    0.001727
Name: Class, dtype: float64
[train_df]
 0    0.998244
1    0.001756
Name: Class, dtype: float64
[test_df]
 0    0.998338
1    0.001662
Name: Class, dtype: float64

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [23]:
def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy_score = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    auc = roc_auc_score(y_test, pred)
    
    print('오차행렬\n'.format(confusion))
    print('정확도\n'.format(accuracy_score))
    print('정밀도(precision)\n'.format(precision))
    print('재현율(recall)\n'.format(recall))
    print('f1 스코어\n'.format(f1))
    print('auc: {:.2f}'.format(auc))

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rf_clf = RandomForestClassifier(n_estimators = 100)

In [26]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
get_clf_eval(y_test, rf_clf.predict(X_test))